{{ define "content" }}
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <!-- Login Box -->
        <div class="w-100" style="max-width: 400px;">
            <div class="mb-4 text-center">
                <h1 class="h3 fw-bold">Enter your email to receive a reset link</h1>
            </div>

            <!-- Login Form -->
            <form action="#" method="POST">
                <div class="mb-5">
                    <label for="email" class="form-label"><strong>Email address</strong></label>
                    <input id="email" name="email" type="email" autocomplete="email" required
                           class="form-control" placeholder="Enter your email">
                </div>


                <div class="d-grid">
                    <button type="submit" class="btn btn-accent submit-btn">
                        Send Reset Link
                    </button>
                </div>
            </form>

            <div class="text-center mt-3">
                Remember your password?
                <a href="login" class="fw-semibold text-decoration-none simple-link">
                    Sign in
                </a>
            </div>
        </div>
    </div>
{{ end }}
