{{ define "content" }}
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <!-- Login Box -->
        <div class="w-100" style="max-width: 400px;">
            <div class="mb-4 text-center">
                <h1 class="h3 fw-bold">Sign in to your account</h1>
                <p class="">Welcome back! Please enter your credentials.</p>
            </div>

            <!-- Login Form -->
            <form action="/sign-in" method="POST">

                <div class="mb-3">
                    <label for="email" class="form-label"><strong>Email address</strong></label>
                    <input id="email" name="email" type="email"
                           class="form-control" placeholder="Enter your email">
                    {{ with .Data.msg.Errors.Email }}
                        <small class="text-danger">{{ . }}</small>
                    {{ end }}
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label"><strong>Password</strong></label>
                    <input id="password" name="password" type="password"
                           class="form-control" placeholder="Enter your password">
                    {{ with .Data.msg.Errors.Password }}
                        <small class="text-danger">{{ . }}</small>
                    {{ end }}
                </div>

                <div class="mb-5 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                        <input class="form-check-input mt-0" type="checkbox" id="rememberMe">
                        <label class=" small ms-2" for="rememberMe">
                            Remember me
                        </label>
                    </div>
                    <a href="/forget-password" class="small simple-link">
                        Forgot password?
                    </a>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-accent submit-btn">
                        Sign in
                    </button>
                </div>
            </form>

            <div class="text-center mt-3">
                Don’t have an account?
                <a href="/register" class="fw-semibold text-decoration-none simple-link">
                    Get Started
                </a>
            </div>
        </div>
    </div>
{{ end }}
